* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-behavior: smooth;
   transition: background-color 1s ; /* Płynna zmiana koloru tła */
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px) scale(0.9) rotateX(10deg);
    transition: opacity 0.8s , transform 0.8s ; /* Opóźnienie 0.3s dla tekstu */
}

.section.active {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0);
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills li {
    background-color: #e0e0e0;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
}

.project {
    margin-top: 20px;
}

.project h3 {
    font-size: 1.5em;
}

.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #666;
}

/* Kolory tła dla sekcji */
#header { background-color: #ed730f; }
#about { background-color: #3498db; }
#skills { background-color: #27ae60; }
#projects { background-color: #e74c3c; }
#contact { background-color: #8e44ad; }
